.enlargeOnHover {
  transition: transform .5s;
}

.enlargeOnHover:hover {
  transform: scale(1.15);
}

.aib {
  border-radius: 10rem!important;
  border-style: none;
}

.text-muted {
  font-size: small;
  margin-top: 0.5rem;
}

